@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    transform: scale(2.5); }
  60% {
    transform: rotate(120deg); }
  80% {
    opacity: 0.5;
    transform: translateX(10%); }
  100% {
    transform: scale(1);
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  80% {
    transform: translateX(-10%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes blur {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 1.5rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem; }
  .heading-primary--main {
    transition: all 0.2s ease-in;
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 40px;
    animation: moveInLeft 2s ease-out;
    animation-iteration-count: 1; }
    .heading-primary--main:hover {
      transform: skewX(12deg) skewY(1.5deg) scale(1.2);
      text-shadow: 0 0.2rem 0.3rem rgba(40, 180, 133, 0.2); }
  .heading-primary--sub {
    display: block;
    letter-spacing: 15px;
    font-size: 27px;
    font-weight: 700;
    animation: moveInRight 2s ease-out;
    animation-iteration-count: 1;
    transition: all 0.2s linear; }
    .heading-primary--sub:hover {
      transform: skewX(-12deg) skewY(-1.5deg) scale(1.2);
      text-shadow: 0 0.2rem 0.3rem rgba(40, 180, 133, 0.2); }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.3s ease-in; }
  .heading-secondary:hover {
    transform: skewX(12deg) skewY(1.5deg) scale(1.2);
    text-shadow: 0 0.2rem 0.3rem rgba(40, 180, 133, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #777; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  margin-top: -10rem;
  background-blend-mode: hue;
  padding: 20rem 0;
  background-image: url("../../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 5rem 0;
  margin-top: -10rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-in;
  position: relative;
  font-size: 1.5rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
  .btn:hover::after {
    content: "";
    background-color: #fff;
    opacity: 0;
    transform: scale(150%); }

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--white {
  background-color: #fff;
  padding: 2rem 6rem;
  color: #777;
  display: inline-block;
  border-radius: 5rem; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #28b485;
  padding: 2rem 6rem;
  color: #fff;
  display: inline-block;
  border-radius: 5rem; }
  .btn--green::after {
    background-color: #28b485; }

.btn--animated {
  animation: moveUp 2s ease-in; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  color: #7ed56f;
  font-size: 1.6rem;
  transition: all 0.2s linear;
  padding: 1rem; }

.btn-text:hover {
  background-color: #7ed56f;
  z-index: -1;
  color: #fff;
  animation: blur 0.2s ease-out;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-4px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(4px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 0.15rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;
    transition: all 0.2s ease-in; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.1) translateY(-1rem);
      box-shadow: 0 0.15rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 20;
      outline: 1.5rem solid #55c57a;
      border-radius: 2rem; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.15rem 4rem rgba(0, 0, 0, 0.7);
  transition: all 0.2s linear; }
  .feature-box__icon {
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem;
    margin-bottom: 0.5rem; }
  .feature-box__text {
    margin-top: 1rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    overflow: hidden;
    transition: all 0.8s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb990, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5443fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: hue;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb990, #ff7730), url("../../img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: url("/img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5443fa), url("../../img/nat-7.jpg"); }
  .card__heading {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to bottom right, rgba(255, 185, 144, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.85), rgba(84, 67, 250, 0.85)); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 2rem auto 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__price-box {
    margin-bottom: 8rem;
    color: #fff;
    text-align: center; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 4rem; }

.header {
  position: relative;
  height: 95vh;
  background-blend-mode: hue;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.4), rgba(40, 180, 133, 0.4)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%); }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 35px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 1.5rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem; }
  .heading-primary--main {
    transition: all 0.2s ease-in;
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 40px;
    animation: moveInLeft 2s ease-out;
    animation-iteration-count: 1; }
    .heading-primary--main:hover {
      transform: skewX(12deg) skewY(1.5deg) scale(1.2);
      text-shadow: 0 0.2rem 0.3rem rgba(40, 180, 133, 0.2); }
  .heading-primary--sub {
    display: block;
    letter-spacing: 15px;
    font-size: 27px;
    font-weight: 700;
    animation: moveInRight 2s ease-out;
    animation-iteration-count: 1;
    transition: all 0.2s linear; }
    .heading-primary--sub:hover {
      transform: skewX(-12deg) skewY(-1.5deg) scale(1.2);
      text-shadow: 0 0.2rem 0.3rem rgba(40, 180, 133, 0.2); }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.3s ease-in; }
  .heading-secondary:hover {
    transform: skewX(12deg) skewY(1.5deg) scale(1.2);
    text-shadow: 0 0.2rem 0.3rem rgba(40, 180, 133, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #777; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 5rem; }

.row {
  max-width: 144rem;
  margin: 0 15rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 12rem) / 3); }
  .row .col-2-of-3 {
    width: calc( (2 * (100% - 12rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( (2 * (100% - 18rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( (3 * (100% - 18rem) / 4) + 2 * 6rem); }
