@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin float-layout {
  float: left;
  color: #333;
}

@mixin skew-left {
  transform: skewX(12deg) skewY(1.5deg) scale(1.2);
  text-shadow: 0 0.2rem 0.3rem rgba($color-primary-dark, 0.2);
}

@mixin skew-right {
  transform: skewX(-12deg) skewY(-1.5deg) scale(1.2);
  text-shadow: 0 0.2rem 0.3rem rgba($color-primary-dark, 0.2);
}

@mixin composition-img-hover {
  transform: scale(1.2);
  z-index: 999;
}

@mixin background-image {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.4),
      rgba($color-primary-dark, 0.4)
    ),
    url("../img/hero-small.jpg");
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERIES MANAGER;
/*
0 -> 600px:          Phone
600px -> 900px:      Tablet portrait;
900px -> 1200px:     Tablet landscape;
1200px -> 1800px:    PC

ORDER: Base > Typography > Genral layout > Grid > Page Layout > Components
*/

/*
  Breakpoint argument choice
  - Phone
  - Tab-port
  - Tab-land
  - big-destop

  1em = 16px;
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      // equal to 600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      // 900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      // 1200px
      @content;
    }
  }

  @if $breakpoint == big-destop {
    @media (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
