// Colors
$color-primary: #55c57a;
// green
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

// orange
$color-secondary-light: #ffb990;
$color-secondary-dark: #ff7730;

// blue
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5443fa;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-true-white: #fff;
$color-black: #000;
$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;

// Font-sie
$default-font-size: 1.6rem;

// Grid
$width-grid: 144rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
