.footer {
  background-color: $color-gray-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 2px solid $color-gray-dark-2;
    padding-top: 1rem;
    display: inline-block;
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    transition: all 0.2s linear;

    &:link,
    &:visited {
      text-decoration: none;
      color: $color-light-grey-1;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      transform: scale(1.3) skewX(-15deg);
      box-shadow: 0 5rem 5rem rgba($color-black, 0.5);
      color: $color-primary;
      padding: 0.5rem;
      background-color: #000;
    }
  }

  &__copyright {
    color: $color-light-grey-1;
    border-top: 2px solid $color-gray-dark-2;
    padding-top: 1.5rem;

    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
  }
}
