.header {
  position: relative;
  height: 95vh;
  background-blend-mode: hue;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.4),
      rgba($color-primary-dark, 0.4)
    ),
    url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);

  &__logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  &__logo {
    height: 35px;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
