.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    position: fixed;
    width: 7rem;
    height: 7rem;
    top: 6rem;
    right: 6rem;
    background-color: $color-true-white;
    border-radius: 50%;
    z-index: 200;
    box-shadow: 0 2rem 5rem rgba($color-black, 0.4);
    text-align: center;
    cursor: pointer;
    transition: all 1s ease-out;
  }

  &__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;

    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 100;
    cursor: pointer;
    transition: transform 1s ease-out;
    // transform: scale(100);
  }

  &__nav {
    height: 100vh;
    // width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    opacity: 0;
    width: 0;
    transition: all 1s ease;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 2rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 3rem;
      padding: 1rem 2rem;
      font-weight: 300;
      color: $color-true-white;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-true-white 50%
      );
      background-size: 220%;
      transition: all 0.4s linear;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(100);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //Navigation icon
  &__icon {
    position: relative;
    margin-top: 3.2rem;
    &,
    &::after,
    &::before {
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark-3;
      display: inline-block;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 3rem;
      height: 3px;
      left: 0;
      transition: all 0.5s ease;
    }

    &::after {
      top: -1rem;
    }

    &::before {
      top: 1rem;
    }
  }

  &__button:hover &__icon::after {
    transform: translateY(-0.1rem);
  }

  &__button:hover &__icon::before {
    transform: translateY(0.1rem);
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(135deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(-135deg);
    top: 0;
  }
}
