.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in;
    position: relative;
    font-size: 1.5rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.5);

    &::after {
      content: "";
      background-color: $color-true-white;
      opacity: 0;
      transform: scale(150%);
    }
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 10px 20px rgba($color-black, 0.5);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    background-color: $color-true-white;
    padding: 2rem 6rem;
    color: $color-gray-dark;
    display: inline-block;
    border-radius: 5rem;

    &::after {
      background-color: $color-true-white;
    }
  }

  &--animated {
    animation: moveUp 2s ease-in;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary-light;
    color: $color-primary-light;
    font-size: $default-font-size;
    transition: all 0.2s linear;
    padding: 1rem;
  }

  &:hover {
    background-color: $color-primary-light;
    z-index: -1;
    color: $color-true-white;
    animation: blur 0.2s ease-out;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-4px);
  }

  &:active {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(4px);
  }
}
