.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 0.15rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;
    transition: all 0.2s ease-in;

    &--p1 {
      top: -2rem;
      left: 0;
    }

    &--p2 {
      top: 2rem;
      right: 0;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.1) translateY(-1rem);
      box-shadow: 0 0.15rem 4rem rgba($color-black, 0.6);
      z-index: 20;
      outline: 1.5rem solid $color-primary;
      border-radius: 2rem;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.8);
  }
}
