.feature-box {
  background-color: rgba($color-true-white, 0.8);
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.15rem 4rem rgba($color-black, 0.7);
  transition: all 0.2s linear;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &__icon {
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    color: transparent;
    font-size: 6rem;
    margin-bottom: 0.5rem;

    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }

  &__text {
    margin-top: 1rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
