.form {
  &__group {
  }

  // &:not(:last-child) {
  //   margin-bottom: 2rem;
  // }

  &__input {
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 3px;
    background-color: rgba($color-true-white, 0.6);
    border-bottom: 3px solid transparent;
    transition: all 1s ease;
    display: block;
    width: 90%;
    margin-top: 1rem;

    &::-webkit-input-placeholder {
      color: $color-gray-dark-2;
    }

    &:focus {
      outline: none;
      box-shadow: 0 2rem 5rem rgba($color-black, 0.5);
      border-bottom: 3px solid $color-primary-light;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
  }

  &__label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 1rem;
    display: block;
    transition: all 0.3s linear;
    color: $color-black;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio {
    &-group {
      width: 49%;
      display: inline-block;
    }

    &-label {
      font-size: $default-font-size;
      cursor: pointer;
      position: relative;
      padding-left: 5rem;
    }

    &-button {
      position: absolute;
      top: -0.5rem;
      left: 0;
      height: 3rem;
      width: 3rem;
      border: 5px solid $color-primary-dark;
      border-radius: 50%;
      display: inline-block;

      &::after {
        content: "";
        display: block;
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-primary-dark;
        opacity: 0;
        transition: all 0.2s;
      }
    }

    &-input {
      display: none;
    }

    &-input:checked ~ &-label &-button::after {
      opacity: 1;
    }
  }

  &__btn {
    border: none;
  }
}
