body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: 16px;
  line-height: 1.7;
  color: $color-gray-dark;
}

.heading-primary {
  color: $color-true-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem;

  &--main {
    transition: all 0.2s ease-in;
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 4rem;
    animation: moveInLeft 2s ease-out;
    animation-iteration-count: 1;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
      color: $color-black;
    }

    &:hover {
      @include skew-left;
    }
  }

  &--sub {
    display: block;
    letter-spacing: 1.5rem;
    font-size: 2.7rem;
    font-weight: 700;
    animation: moveInRight 2s ease-out;
    animation-iteration-count: 1;
    transition: all 0.2s linear;

    @include respond(phone) {
      letter-spacing: 0.5rem;
      font-size: 2rem;
      color: $color-black;
    }

    &:hover {
      @include skew-right;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;

  transition: all 0.3s ease-in;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    @include skew-left;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-gray-dark;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 5rem;
  }
}
