.section-about {
  background-color: $color-light-grey-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  margin-top: -10rem;
  // clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  background-blend-mode: hue;
  padding: 20rem 0;
  background-image: url("../../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-light-grey-1;
  padding: 25rem 0 5rem 0;
  margin-top: -10rem;
}
